@import url('http://fonts.cdnfonts.com/css/gill-sans');

@import url('http://fonts.cdnfonts.com/css/lato');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gill Sans, lato, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #fff;
}

/* body {
  width: 375px;
} */
